<div class="row mt-5 text-center">
    <div class="col">
        <button [routerLink]="['/registeruser']" routerLinkActive="router-link-active"  class="btn btn-block btn-primary">Cadastrar<br>Usuário</button>
    </div>
    <div class="col">
        <button [routerLink]="['/manageusers']" class="btn btn-block btn-primary">Gerenciar<br>Usuários</button>
    </div>
    <div class="col">
        <button [routerLink]="['/registerspaces']" class="btn btn-block btn-primary">Cadastrar<br>Espaço</button>
    </div>
    <div class="col">
        <button [routerLink]="['/managespaces']" class="btn btn-block btn-primary">Gerenciar<br>Espaços</button>
    </div>
</div>
<div *ngIf="apprRequests.length > 0" class="mt-5 mb-4">
    <h3 class="mb-3 text-center">Espaços Reservados</h3>
    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>#</th>
            <th>Nome do Espaço</th>
            <th>Solicitante</th>
            <th>Data de Início</th>
            <th>Data de Término</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let request of apprRequests; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ request.space.name }}</td>
            <td>{{ request.requestedBy.username }}</td>
            <td>{{ request.startDate | date:'short' }}</td>
            <td>{{ request.endDate | date:'short' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Mensagem se não houver espaços reservados -->
  <div *ngIf="apprRequests.length === 0" class="alert alert-info text-center">
    Não há espaços reservados no momento.
  </div>