<!--<div class="banner">
    <div class="content">
        <h1 class="mb-5">Angular Website</h1>  Título principal do banner -->
 <!---       <a routerLink="menu">Fazer Pedido <i class="bi bi-arrow-right"></i></a> Link para a página de pedidos 
    </div>
</div> -->
<div class="container">
    <div class="row text-center"><h1>Sistema de Gestão de Espaços</h1></div>
    <div class="row mt-3">
        <div class="col text-center">
            <h2>Seja bem vindo!</h2>
        </div>
        <div class="col text-end">
            <form>
                <button (click)="logout()" class="btn btn-primary btn-block" type="submit" style="width:30%">Logout</button>
            </form>
        </div>
        <h1></h1>
    </div>
    <div *ngIf="userRole==='admin'; else otherRoles">
        <app-home-admin></app-home-admin>
    </div>
    <ng-template #otherRoles>
        <div *ngIf="userRole==='manager' else teacherTemplate">
            <app-home-manager></app-home-manager>
        </div>
    </ng-template>
    <ng-template #teacherTemplate>
        <div>
            <app-home-teacher></app-home-teacher>
        </div>
    </ng-template>
</div>
<div>
</div>
